.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date,
.date1,
.date2 {
  margin-top: 40px;
  font-size: 20px;
  color: blueviolet;
}

.date2 {
  margin-top: 10px;
}

.date1 {
  color: rgb(5, 78, 54);
}

li {
  text-align: center;
}
