$base-class: split;

:export {
    baseClass: $base-class;
}

.#{$base-class} {
    &__container {
        font-family: 'eurostile', sans-serif;
        text-align: center;
        margin: auto;
        max-width: 1024px;
        width: 98vw;
    }

    @media only screen and (min-width: 481px) and (max-width: 768px) {
        &__container {
            width: 98vw;
        }
    }

    @media only screen and (max-width: 480px) {
        &__container {
            width: 98vw;
        }
    }

    &__header-name {
        color: #ffffff;
        font-size: 25px;
        font-weight: 700;
        margin: 10px auto;
        text-align: center;
    }

    &__vartiation-title {
        font-size: 25px;
        margin: 10px auto 15px auto;
    }

    &__current-excersice {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__warmup-variation-title {
        .MuiButtonBase-root {
            background-color: #8ee29e !important;
            border-width: 1px;
            border-style: solid;
            border-color: #d9d8d8;
        }
    }

    &__warmup-variation-inner-accordian {
        .MuiButtonBase-root {
            background-color: #bdeec6 !important;
            border-width: 1px;
            border-style: solid;
            border-color: #d9d8d8;
        }
    }

    &__preworkout-variation-title {
        .MuiButtonBase-root {
            background-color: #f2cb82 !important;
            border-width: 1px;
            border-style: solid;
            border-color: #d9d8d8;
        }
    }

    &__preworkout-variation-inner-accordian {
        .MuiButtonBase-root {
            background-color: #f6daa6 !important;
            border-width: 1px;
            border-style: solid;
            border-color: #d9d8d8;
        }
    }

    &__postworkout-variation-title {
        .MuiButtonBase-root {
            background-color: #f3ed6e !important;
            border-width: 1px;
            border-style: solid;
            border-color: #d9d8d8;
        }
    }

    &__postworkout-variation-inner-accordian {
        .MuiButtonBase-root {
            background-color: #f6f192 !important;
            border-width: 1px;
            border-style: solid;
            border-color: #d9d8d8;
        }
    }

    &__workout-variation-title {
        .MuiButtonBase-root {
            background-color: #fcb499 !important;
            border-width: 1px;
            border-style: solid;
            border-color: #d9d8d8;
        }
    }

    &__workout-variation-inner-accordian {
        .MuiButtonBase-root {
            background-color: #fdd0bf !important;
            border-width: 1px;
            border-style: solid;
            border-color: #d9d8d8;
        }
    }

    &__split-summary {
        .MuiButtonBase-root {
            background-color: #147d88;
            border-width: 1px;
            border-style: solid;
            border-color: #d9d8d8;
        }
    }

    &__strike-through {
        text-decoration: line-through;
    }

    &__details-older-excercise {
        margin: 10px 0px;
    }

    &__splits {
        margin: 15px 0px;
    }
}