$base-class: split;

:export {
    baseClass: $base-class;
}

.#{$base-class} {
    &__container {
        font-family: 'eurostile', sans-serif;
        text-align: center;
    }

    &__header-name {
        color: #141c3a;
        font-size: 35px;
        font-weight: 700;
        margin: 20px 0px;
        text-align: center;
    }

    &__vartiation-title {
        color: #333333;
        font-size: 25px;
        margin: 10px 10px 15px 10px;
    }
}